* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.food-image {
    height: auto;
    width: 250px;
}

body {
    padding: 0px;
    margin: 0px;
}

p {
    color: #000033;
    background-color: #c2c2a3;
}

ul, ol {
    background-color: #c2c2a3;
}
